body{
      background-color: rgb(0, 0, 0);
    color: white; /* para o texto ficar visível */
    padding: 8px;
    border-radius: 4px;
}





.navbar {
    background-color: red; /* cor de fundo da barra de navegação */
    overflow: hidden; /* garante que o conteúdo não transborde */
   font-family: 'Montserrat', Arial, sans-serif;
   margin-bottom: 120px; /* Espaço abaixo da navbar */
}


 .navdiv {
display: flex; align-items: center; justify-content: space-between;
 }
 .logo a {
    font-size: 35px; font-weight: 600; color: white; text-decoration: none;
 }
li {
    list-style: none; display: inline-block
 }
li a {
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}
button {
    background-color: black; margin-left: 10%; border-radius: 10px; padding: 10px; width: 90px;

}
button a {
color: white; font-weight: bold; font-size: 15x;
}
